@import "../../assets/style.scss";

.vprasanje {
  height: 100%;
  width: 100%;
  @include center;
}

.vprasanje-card {
  @include center;
  @include robovi(3);
  @include senca;
  height: 90%;
  width: 70%;
  background: $modra;
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
}
