@import "../../assets/style.scss";

.nastavitve {
  background: darken($siva, 10);
  height: 100vh;

  .wrap-container {
    padding: 2rem 3rem;
  }

  .container {
    @include senca;
    background: $siva;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 2rem;

    &-header {
      font-weight: bold;
      font-size: 1.4rem;
      user-select: none;
    }

    &-flex {
      padding: 0 0.5rem;
      margin-bottom: 1.5rem;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    &-gumbi {
      display: flex;
      align-items: flex-start;
      white-space: nowrap;
    }

    &-vprasanje {
      display: flex;
      align-items: center;
    }
  }

  @mixin add-gumb {
    color: #fff;
    padding: 0.6rem 1.8rem;
    margin: 0 1rem;
    font-weight: bold;
    @include robovi(max);
    @include senca;
    user-select: none;
  }

  .gumb-vpr {
    @include add-gumb;
    cursor: pointer;
    background: $modra;
    &:hover {
      background: darken($modra, 5);
    }
  }

  .gumb-kat {
    @include add-gumb;
    cursor: pointer;
    background: $vijolicna;
    &:hover {
      background: darken($vijolicna, 5);
    }
  }

  .select-kategorija {
    @include robovi(1);
    padding: 0.5rem 1rem;
    margin-left: 2rem;
    font-size: 1rem;
    background: $vijolicna;
    color: #fff;
    outline: none;
    cursor: pointer;
    &:focus {
      background: darken($vijolicna, 5);
    }
  }
}
