//@import "../../assets/style.scss";

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin senca {
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
}

@mixin robovi($stopnja) {
  @if $stopnja == 1 {
    border-radius: 0.5rem;
  }
  @if $stopnja == 2 {
    border-radius: 1rem;
  }
  @if $stopnja == max {
    border-radius: 1000px;
  }
  //@if $stopnja == 3 {
  //  border-radius: 3rem;
  //}
}

$siva: #e9e9e9;
$modra: #3453fe;
$vijolicna: #641cff;
$rumena: #ff9101;
$rdeca: #f54436;
$zelena: #00c853;
