@import "../../assets/style.scss";

.vprasanje-form {
  .form {
    background: $modra;
    width: 40%;
    @include robovi(2);
    padding: 0.5rem 0.5rem;

    &-center {
      @include center;
    }

    &-submit {
      margin: 0.5rem 0;
      padding: 0.5rem 3rem;
      border-radius: 100rem;
      background: #fff;
      font-weight: bold;
      &:hover {
        background: $siva;
      }
    }

    .field {
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-textbox {
        width: 100%;
        padding: 0.2rem 0.6rem;
        @include robovi(2);
        outline: none;
      }

      &-radio {
        margin: 0 0.2rem;
      }

      &-label {
        color: #fff;
        padding: 0 0.5rem 0 0.3rem;
      }
    }
  }
}
