@import "../../assets/style.scss";

.homepage {
  @include center;
  height: 100vh;
  width: 100vw;
  background: $siva;

  .center-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @mixin gumb() {
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
    padding: 0.8rem 2.5rem;
    width: 18rem;
    margin: 0.5rem 0;
    @include robovi(2);
    outline: none;
  }

  .gumb {
    &-start {
      background: $rdeca;
      @include gumb;
    }

    &-nastavitve {
      background: $vijolicna;
      @include gumb;
      cursor: pointer;
      &:hover {
        background: darken($vijolicna, 10);
      }
    }

    &-skupine {
      background: $zelena;
      @include gumb;
      cursor: pointer;
      &:hover {
        background: darken($zelena, 5);
      }
    }
  }
}
