@import "../../assets/style.scss";

.odgovor {
  @include center;

  @mixin container($barva, $besedilo) {
    @include center;
    @include robovi(max);
    @include senca(btn);
    width: 95%;
    height: 75%;
    color: $besedilo;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background: $barva;
    position: relative;
  }

  &-container- {
    @include container(#fff, $modra);

    &DA {
      @include container($zelena, #fff);
    }

    &NE {
      @include container($rdeca, #fff);
    }
  }

  @mixin crka($barva, $crka) {
    background: $barva;
    color: $crka;
    font-size: 3rem;
    font-weight: bold;
    margin: 0 1.5rem 0 1rem;
    width: 6rem;
    height: 6rem;
    @include center;
    @include robovi(max);
    @include senca(1);
    animation: skokAnimacija 1s;
  }

  &-crka- {
    @include crka($modra, #fff);
    &DA {
      @include crka(#fff, $zelena);
    }
    &NE {
      @include crka(#fff, $rdeca);
    }
  }

  &-besedilo {
    font-size: 1.8rem;
    width: 100%;
    @include center;
    animation: skokAnimacija 1s;
  }
}

.svg {
  position: absolute;
  right: 0;
  height: 11rem;
  filter: drop-shadow(0 0 0.8rem rgba(0, 0, 0, 0.4));
  animation: skokAnimacija 0.5s;
}

@keyframes skokAnimacija {
  25% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
