//Roboto
@font-face {
  font-family: "Roboto";
  src: url("./assets/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/Roboto-Bold.ttf");
  font-weight: bold;
}

//Montserrat
@font-face {
  font-family: "Montserrat";
  src: url("./assets/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/Montserrat-Bold.ttf");
  font-weight: bold;
}

//TODO - odstrani font ki ni uporabljen

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
