@font-face {
  font-family: "Montserrat";
  src: url("./assets/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/Montserrat-Bold.ttf");
  font-weight: bold;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
